#home-view-container
	width: 100%

.big-button
	width: 84%

.waiting
	90%

.waiting-button
	width: 33%

.needs-bottom
	border-bottom-color: green
	border-bottom-width: 3px
	border-bottom-style: solid
	padding-bottom: 5px

.needs-top-margin
	margin-top: 10px
