#map-view-container, #check-in-map-view-container
	min-height : 360px
	height     : auto

#map-container, #check-in-map-container
	width      : 100%
	min-height : 320px
	height     : 100%
	color      : black
	margin-bottom : 5px
