<div id="check-in-map-container"></div>
<div class="submit-check-in-button center"> <button id="check-in-map-to-check-in" class="hs-button large green">Submit Check In</button> <button id= "check-in-map-to-home" class="hs-button large red">Back to Home</button></div>