<div class="check-in-copy">{{checkin.please}}</div>
<div id="hs_field_wrapper_select" class="field  ">
    <label for="basic_form_id_select">
        Line
    </label>
    <div class="input line-select">
        <select name="select" required="required" id="basic_form_id_select" class="hs-input">
        		<option value="A">
               Trunk
            </option>
            <option value="B">
               B Line
            </option>
            <option value="C">
                C Line
            </option>
            <option value="D">
                D Line
            </option>
            <option value="E">
                E Line
            </option>
        </select>
    </div>
</div>
<div id="hs_field_wrapper_select" class="field">
    <label for="basic_form_id_select">
        Station
    </label>
    <div class="input station-select">
        <select name="select" required="required" id="basic_form_id_select" class="hs-input">
        	<option value="Lechmere">
               Lechmere
            </option>
            <option value="Science Park">
               Science Park
            </option>
        		<option value="North">
               North Station
            </option>
            <option value="Haymarket">
               Haymarket
            </option>
            <option value="Government Center">
                Government Center
            </option>
            <option value="Park St.">
                Park St.
            </option>
            <option value="Boylston">
            	Boylston
            </option>
            <option value="Arlington">
            	Arlington
            </option>
            <option value="Copley">
            	Copley
            </option>
            <option value="Prudential">
            	Prudential
            </option>
            <option value="Symphony">
            	Symphony
            </option>
            <option value="Northeastern University">
            	Northeastern University
            </option>
            <option value="Museum of Fine Arts">
            	Museum of Fine Arts
            </option>
            <option value="Longwood Medical Area">
            	Longwood Medical Area
            </option>
            <option value="Brigham Circle">
            	Brigham Circle
            </option>
            <option value="Fenwood Rd.">
            	Fenwood Rd.
            </option>
            <option value="Mission Park">
            	Mission Park
            </option>
            <option value="Riverway">
            	Riverway
            </option>
            <option value="Back of the Hill">
            	Back of the Hill
            </option>
            <option value="Heath St.">
            	Heath St.
            </option>
        </select>
    </div>
</div>
<div id="hs_field_wrapper_select" class="field  ">
    <label for="basic_form_id_select">
        Direction
    </label>
    <div class="input direction-select">
        <select name="select" required="required" id="basic_form_id_select" class="hs-input">
        		<option value="Lechmere">
        			East Towards Lechmere
            </option>
            <option value="Heath St.">
               West Towards Heath St.
            </option>
        </select>
    </div>
</div>
<div class="submit-check-in-button center"> <button class="hs-button large green">Submit Check In</button></div>