<div>
	<div class="home-view-full-button">
		<span>Are you on the T?</span>
		<a class="big-button hs-button primary large green">Check In</a>
	</div>
	<div>
		<span>Waiting?</span>
		<a href="#/map" class="hs-button primary large big-button">Map</a>
	</div>
</div>