<div id="map-container"></div>
<div class="submit-check-in-button center"> <button id="map-to-check-in" class="hs-button large green">Submit Check In</button> <button id= "map-to-home" class="hs-button large red">Back to Home</button></div>