<div><span><h4>Thanks</h3></span></div>
<div class="center"> <button id="thanks-to-home" class="hs-button large green">Back to Home</button> <button id="thanks-to-map" class="hs-button large red">Back to Map</button></div>